    <div class="container" id="main">


        <div class="col-md-8">
          <img class="img-responsive" src="/photos/DSC_0205.JPG" alt="">
          <span class="glyphicon glyphicon-heart"></span>
          <span class="label label-pill label-primary">42</span>
          <span class="pull-right glyphicon glyphicon-bookmark"></span>
          <h3>Post Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="row row-offcanvas row-offcanvas-right">

          <!-- sidebar -->
          <div class="col-xs-6 col-sm-4 sidebar-offcanvas" id="sidebar" role="navigation">

              <ul class="nav">
                <li><h3>Most Liked</h3></li>
                <li class="active"><a href="#">Something, and one other thing, bonkers</a></li>
                <li><a href="#">Something, and one other thing, bonkers</a></li>
                <li><a href="#">Something, and one other thing, bonkers</a></li>
                <li><a href="#">Something, and one other thing, bonkers</a></li>
                <li><a href="#">Something, and one other thing, bonkers</a></li>
              </ul>
          </div>


        </div>
        <hr>
        <br>
        <div class="container-fluid">
          <div class="row">
            <% @posts.each do |post| %>

                <div style="height: 400px; text-overflow: ellipsis;" class="col-xs-12 col-lg-4 post-thumbs" >
                  <a href="#"><img class="img-responsive" src="/photos/<%= post.image %>" alt="photo"></a>
                  <span class="glyphicon glyphicon-heart"></span>
                  <span class="label label-pill label-primary">42</span>
                  <span class="pull-right glyphicon glyphicon-bookmark"></span>
                  <h3><%= link_to post.title, post_path(post) %></h3>

                </div>
                <% end %>
          </div>
        <div class="text-center center-block">
          <a href="#"><h2>More Articles</h2></a>
        </div>
        <br>
        <br>
        <link rel="stylesheet" href="/css/index_style.css">
  </body>
</html>
