
        <div class="container" id="main">
          <h1>All Posts</h1>
          <br>
          <hr>
          <div class="row">
            <% @posts.each do |post| %>

                <div style="height: 400px; text-overflow: ellipsis;" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 post-thumbs" >
                  <%= image_tag post.image, alt: "placeholder 960", class: "stop img-responsive" %>
                  <span class="glyphicon glyphicon-heart"></span>
                  <span class="label label-pill label-primary">42</span>
                  <span class="pull-right glyphicon glyphicon-bookmark"></span>
                  <h3><%= link_to post.title, post_path(post) %></h3>

                </div>
                <% end %>
          </div>

        </div>

        <br>
        <br>
        <link rel="stylesheet" href="/css/index_style.css">
  </body>
</html>
